* {
    font-family: 'Montserrat',
        sans-serif;
}

html,
body {
    background-color: #EAEDED;
}

header {
    height: 100vh;
    width: 100%;
    margin-bottom: -800px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

main {
    display: grid;
    grid-template-columns: .1fr 1fr .1fr;
    grid-template-areas:
        "leftSection centerSection rightSection"
    ;
}

.leftSection {
    grid-area: leftSection;
    text-align: center;
    list-style-type: none;
}

.leftSection__usuario {
    position: sticky;
    top: 150px;
    background-color: #EAEDED;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.leftSection__usuario>span{
    margin-top: 15px;
    font-size: 14px;
}

.leftSection__list {
    background-color: #EAEDED;
    position: sticky;
    top: 380px;
    padding: 15px;
    border-radius: 5px;
}

.leftSection__list>ol {
    padding-left: 0;
}

.centerSection {
    grid-area: centerSection;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    width: 150px;
    margin: .2rem;
    padding: 5px;
    text-align: center;
}

.rightSection>* {
    grid-area: rightSection;
    position: sticky;
    top: 150px;
}

.card-link {
    color: black;
}

.card-header {
    padding: .75rem .5rem;
    text-align: left;
}

#listadoSeleccionado {
    padding-left: 0;
    list-style-type: none;
    font-size: 12px;
    max-height: 500px;
    overflow: auto;

}

#listadoSeleccionado>li{
    margin: 10px 0;
    padding-bottom: 10px;
}

#listadoSeleccionado::-webkit-scrollbar{
    display: none;
}

.btnEliminar{
    padding: 0;
    font-size: small;
}

#listadoWatts{
    font-size: 12px;
    padding-left: 0;
}

/* modal usuario */
form{
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: auto;
}

input{
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #d6d6d6;
    text-align: center;
}

input:focus{
    outline: none;
}

input::placeholder{
    font-size: 14px;
    text-align: center;
}

/* modal footer */

.modal-footer{
    display: flex;
    justify-content: space-around;
}

.fa-times-circle{
    color: #b91a1a;
}

.fa-check-circle{
    color: #0c740c;
}